<!DOCTYPE html>
<html lang="en">

<head>

	<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Symfony Command</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
     <link href="css/prism.css" rel="stylesheet">
    <!-- Custom Fonts -->

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="about.html">Acerca</a>
                    </li>
                  
                    <li>
                        <a href="contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/sfCommand.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Comandos de consola en Symfony</h1>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>En FOSUserBundle utilizan comandos en consola para crear usuarios, eliminar usuarios, promover roles, etc. Así que pense que podía hacer mis propios comando de consola para crear entidades. No es muy complicado, Symfony es una maravilla que permite hacer de todo.</p>
                    
                    <p>A continuación se muestra la configuración para hacer un comando.</p>
                    <pre><code class="language-php line-numbers">
protected function configure()
    {
        $this
            ->setName('curso:create')
            ->setDescription('Create a user.')
            ->setDefinition(array(
                new InputArgument('nombre', InputArgument::REQUIRED, 'Nombre curso'),
                new InputArgument('codigo', InputArgument::REQUIRED, 'Código curso'),
            ))
            
        ;
    }
             </code></pre>
                    <p>En la documentación de Syfmony se pueden encontrar diferentes parámetros a colocar en los input. Se pueden colocar otros parámetros opcionales con la siguiente sintaxis: --parámetroOpcional</p>
                    
                    <p>Ahora para que la consola sea interactiva y pida los datos que necesita, se realiza lo siguiente.</p>
                   <pre><code class="language-php line-numbers">
 protected function interact(InputInterface $input, OutputInterface $output)
    {
        if (!$input->getArgument('nombre')) {
            $nombre = $this->getHelper('dialog')->askAndValidate(
                $output,
                'Ingrese nombre del curso:',
                function($nombre) {
                    if (empty($nombre)) {
                        throw new \Exception('El nombre no puede estar vacío');
                    }

                    return $nombre;
                }
            );
            $input->setArgument('nombre', $nombre);
        }
        if (!$input->getArgument('codigo')) {
            $codigo = $this->getHelper('dialog')->askAndValidate(
                $output,
                'Ingrese el código del curso:',
                function($codigo) {
                    if (empty($codigo)) {
                        throw new \Exception('El código no puede estar vacío');
                    }

                    return $codigo;
                }
            );
            $input->setArgument('codigo', $codigo);
        }
    }

                   </pre></code>

                   <p>En el código anterior se pide de forma interactiva el nombre del curos y el código del curso.</p>
                   <p>Ahora para guardarlo, solo falta verificar que las entradas no sean nulas y llamar a EntityManager para guardar le entidad creada.</p>
                    
                    <pre><code class="language-php line-numbers">

 protected function execute(InputInterface $input, OutputInterface $output)
    {
        $nombre = $input->getArgument('nombre');
        $codigo = $input->getArgument('codigo');
        $text = '';
        if ($nombre && $codigo) {
            $curso = new Curso();
            $curso->setNombreCurso($nombre);
            $curso->setCodigoCurso($codigo);
            $em = $this->getContainer()->get('doctrine.orm.entity_manager');
            $em->persist($curso);
            $em->flush();
            $text = 'Curso '.$nombre.' creado exitosamente';

           
        } else {
            $text = 'Error al crear el curso'.$nombre.$codigo;
        }

      

        $output->writeln($text);
    }
            </pre></code>

            <p>Al final la clase completa queda así.</p>
            <pre><code class = "language-php line-numbers">
use Symfony\Bundle\FrameworkBundle\Command\ContainerAwareCommand;
use Symfony\Component\Console\Input\InputArgument;
use Symfony\Component\Console\Input\InputInterface;
use Symfony\Component\Console\Input\InputOption;
use Symfony\Component\Console\Output\OutputInterface;
use CursoBundle\Entity\Curso;
use Symfony\Component\Console\Command\Command;
use Symfony\Component\Console\Input\InputDefinition;


class CreateCursoCommand extends ContainerAwareCommand
{
    protected function configure()
    {
        $this
            ->setName('curso:create')
            ->setDescription('Create a user.')
            ->setDefinition(array(
                new InputArgument('nombre', InputArgument::REQUIRED, 'Nombre curso'),
                new InputArgument('codigo', InputArgument::REQUIRED, 'Código curso'),
            ))
            
        ;
    }

    protected function execute(InputInterface $input, OutputInterface $output)
    {
        $nombre = $input->getArgument('nombre');
        $codigo = $input->getArgument('codigo');
        $text = '';
        if ($nombre && $codigo) {
            $curso = new Curso();
            $curso->setNombreCurso($nombre);
            $curso->setCodigoCurso($codigo);
            $em = $this->getContainer()->get('doctrine.orm.entity_manager');
            $em->persist($curso);
            $em->flush();
            $text = 'Curso '.$nombre.' creado exitosamente';

           
        } else {
            $text = 'Error al crear el curso'.$nombre.$codigo;
        }

      

        $output->writeln($text);
    }

    protected function interact(InputInterface $input, OutputInterface $output)
    {
        if (!$input->getArgument('nombre')) {
            $nombre = $this->getHelper('dialog')->askAndValidate(
                $output,
                'Ingrese nombre del curso:',
                function($nombre) {
                    if (empty($nombre)) {
                        throw new \Exception('El nombre no puede estar vacío');
                    }

                    return $nombre;
                }
            );
            $input->setArgument('nombre', $nombre);
        }
        if (!$input->getArgument('codigo')) {
            $codigo = $this->getHelper('dialog')->askAndValidate(
                $output,
                'Ingrese el código del curso:',
                function($codigo) {
                    if (empty($codigo)) {
                        throw new \Exception('El código no puede estar vacío');
                    }

                    return $codigo;
                }
            );
            $input->setArgument('codigo', $codigo);
        }
    }

    
}
            </code></pre>


                    
                    
                   
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="http://twitter.com/fcpauldiaz">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://facebook.com/fcpauldiaz">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://github.com/fcpauldiaz">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; fcpauldiaz 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>
     <script src="js/prism.js"></script>

</body>

</html>
