{% extends 'base.html.twig' %}

{% block body %}
 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({{asset('img/academic.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>¿Distinciones Académicas?</h1>
                        <h2 class="subheading"></h2>
                        <span class="meta">Post by <a href="#">Andrea Celeste Hidalgo</a> on April 16,2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>El pasado 10 y 11 de abril fueron los actos de las distinciones académicas, aprovecho esta ocasión para criticar de nuevo nuestro sistema de educación. Veo que muchos de mis compañeros de la UVG están muy orgullosos por que les dieron su papel que certifica que tuvieron buen promedio, pero refleja lo que saben? ¿O refleja el esfuerzo que hicieron? La verdad no sé, pero a mí nunca me han gustado este tipo de distinciones. Yo, ni fui a traer la mía. Andrea, mi amiga de la u, escribe su opinión acerca de esto:</p>

 

<p>" No estoy tratando de justificar mis malas notas; siempre he pensado que el esfuerzo y la dedicación se deben premiar de alguna u otra manera pero, una nota obtenida en un parcial, tarea o proyecto no refleja la capacidad o nivel de inteligencia de una persona.</p>

<p>Es cierto que en Guatemala un sistema de educación diferente al que tenemos hoy día no funcionaria ya que, estamos acostumbrados a trabajar por una recompensa y en este caso, creemos que son los puntos para poder ganar la clase pero esto no tiene mucho sentido si luego de terminar el curso no se tiene conocimiento alguno de la materia.</p>

<p>Tengo el pensamiento de que deberíamos cambiar nuestra forma de ver la recompensa que recibimos al estar haciendo una asignación y darnos cuenta que el verdadero "premio" es el conocimiento que estamos obteniendo, y aunque nuestro examen diga 62pts no debemos desalientarnos, ya que existen otros factores que influyen a las notas además de "el saber o no".</p>

<p>En un momento de mi vida aprendí que existen diferentes tipos de inteligencias y que no siempre van a ser remuneradas de la misma manera. Todos contamos con diferentes capacidades que nos hacen quienes somos. El punto es dar lo mejor de nosotros y no desanimarnos cuando las cosas no salgan como esperábamos.</p>

<p>Felicito a cada uno de mis compañeros universitarios que ayer y hoy obtuvieron reconocimientos por promedios mayores a 85pts a lo largo del año. Son de admirar y de gran motivación para seguir adelante."</p>

                    

                   
                  
                </div>
            </div>
        </div>
    </article>

    <hr>
    {% include 'default/footer.html.twig' %}
{% endblock %}