<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SpaceHunter</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="about.html">Acerca</a>
                    </li>
                  
                    <li>
                        <a href="contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/team.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>SpaceHunterGT</h1>
                        <h2 class="subheading"></h2>
                        <span class="meta">Posted by <a href="#">Pablo Díaz</a> on July 8,2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <p>El International Space Apps Challenge es un hackathon internacional que se llevará a cabo durante un período de 48 horas en ciudades en los siete continentes durante el fin de semana del 12-13 de abril de 2014. Se sabe que más de 60 países participando y este año se subieron más de mil proyectos a la plataforma oficial de SpaceApps.
El evento apela a la solución colaborativa de problemas y tiene el objetivo de producir soluciones de código abierto para encarar desafíos mundiales.
</p>
 <h2 class="section-heading">El Proyecto</h2>

<p>Al proyecto lo denominamos “Space Hunter” el cual consistió principalmente en crear un robot que fuera utilizado para cumplir necesidades de investigación y de rescate, lo cual haría un aporte relevante a los avances tecnológicos del país. 
Al ver las dificultades que las fuerzas de socorro en el país presentan cuando llevan a cabo una misión, realizamos esté robot para sopesar estas, sin necesidad de arriesgar vidas del operario. </p>

				<a href="http://spacehuntergt.com">
                        <img class="img-responsive" src="img/finalsp2.png" alt="">
                    </a>
<p>El robot es capaz de monitorizarse, proyectar imágenes y sonidos en tiempo real al operario. El robot cuenta con sensores de temperatura los cuales posibilitan obtener una mejor noción de las áreas que se están explorando, así mismo envía alertas al operario de cuando las temperaturas están sobrepasando las temperaturas soportadas por los materiales termoestables de los que está fabricado el mismo. Además cuenta con sensores ultrasónicos para poder generar un tipo de mapeo del área que se explora, esto puede utilizarse cuando la vista proporcionada por el streeming ó la iluminación no es la ideal, dando así una noción y mostrar al operador las mejores rutas de exploración, para poder buscar personas o damnificado en zonas que no tienen acceso personalmente.  </p>

<p>El robot en su equipo cuenta con speaker y micrófono de alta fidelidad, para poder hablar y comunicarse con personas que se encuentra dentro del área explorada, de poder hacer contacto, el operario puede brindar instrucciones o darse una noción del estado de las mismas para realizar un tipo de priorización en el rescate. En términos generales, el robot es capazar de analizar y recorrer entornos que pueden ser peligrosos para el ser humano por medio de sensores y transmisores electrónicos.
El transporte del robot es llevado a cabo por dos bandas de rodamiento, esté es completamente eléctrico y es controlado por una computadora portátil o un dispositivo móvil. </p>

<p>El robot también puede utilizarse para realizar investigación en lugares en donde no se necesita un tipo de alteración de muestra por parte del investigador, por ejemplo involucramiento con algún tipo de especie de fauna. </p>

 <h2 class="section-heading">Concurso</h2>

<p>En la competencia nacional participaron alrededor de 10 distintos proyectos, de los cuales en nuestro fue el ganador a nivel nacional del premio “People’s Choice” el cual fue muy relevante y notorio a comparación de nuestra participación del año pasado.  La votación fue por medio de twitter, en donde logramos en un lapso menor  a 5 horas, pudimos posicionarnos en el cuarto lugar del trending nacional, con el hastag #SpaceHunterGt2015 dicho hashtag fue monitorizado y logró tener un alcance superior a los 800,000 espectadores a nivel nacional, cual nos permitió ganar la competencia a nivel nacional.</p>

                  
                </div>
            </div>
        </div>
    </article>

    <hr>

  
   
   
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="http://twitter.com/fcpauldiaz">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://facebook.com/fcpauldiaz">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/fcpauldiaz?tab=repositories">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; fcpauldiaz 2015 Powered by Bootstrap</p>
                     <p class="copyright text-muted">dia13203@uvg.edu.gt</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
