 {% extends 'base.html.twig' %}
 {% block body %}
 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({{asset('img/wp-and-heroku.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Deploy Symfony on</h1>
                        <h2 class="subheading"></h2>
                        <span class="meta">Update by <a href="#">Pablo Díaz</a> on August 21,2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                    
                  <p>Este es una pequeña guía para lanzar una aplicación en Heroku, lo hago porque la documentación oficial me confudió un poco y estaba en inglés.</p>
                  
                  <p>Primero me imagino que ya está instalado <a href="https://toolbelt.heroku.com">Heroku Toolbelt</a>.</p>
                  <h1>Creando la aplicación</h1>
                  <p>Se pueden crear aplicaciones mediante la terminal o mediante la plataforma de Heroku. Lo más fácil es utilizar nuestra terminal. </p>
                  
                 <p>Entonces nos dirigimos a la carpeta donde se encuentra el proyecto de symfony. </p>
                <pre><code class="language-html line-numbers">
cd ~/Desktop/symfony_demo
                </code></pre>
                
                <p>Luego inicializamos un repositorio de git.</p>
                <pre><code class="language-html line-numbers">
                
$ git init
Initialized empty Git repository in /Users/usuario/Desktop/symfony_demo/.git/
$ git commit -m "First commit"
[master (root-commit) 069a9c7] First commit

                
                </code></pre>
                <p>Luego creamos un archivo Procfile.</p>
                <pre><code class="language-html line-numbers">
$ touch Procfile
$ echo  "web: bin/heroku-php-apache2 web/" > Procfile
</code></pre>
            <p>Lo añadimos al repositorio</p>
                <pre><code class="language-html line-numbers">
$ git add .
$ git commit -m "Procfile for Apache and PHP"
</code></pre>
                
            <p>Modificamos el archivo config_prod.yml</p>
            <pre><code class="language-php line-numbers">
# app/config/config_prod.yml
monolog:
    # ...
    handlers:
        # ...
        nested:
            # ...
            path: "php://stderr"
</code></pre>
            <p>Ahora creamos la aplicación</p>
            <pre><code class="language-html line-numbers">
$ heroku login            
$ heroku create
              
              </code></pre>
              <p>Luego le decimos a heroku que utilice el entorno de producción</p>
<pre><code class="language-html line-numbers">
$ heroku config:set SYMFONY_ENV=prod
</code></pre>
              <p>Por último se sube a heroku</p>
               <pre><code class="language-html line-numbers">
$ git push heroku master
$ heroku open
             </pre></code>
              
              <p>De esta forma se abre la página donde  estará funcionado la aplicación.</p>
              
              <img src="img/heroku-prod.png" class="img-responsive">
            

            <h2>Ahora se configura la base de datos</h2>

            <p>
            <pre><code>
$ heroku addons:create cleardb:ignite
$ heroku config:get CLEARDB_DATABASE_URL
            </pre></code>

            <p>De esta forma se confirma que se ha creado la base de datos gratuita. Cabe recalcar que para tener esta base de datos es necesario confirmar la cuenta de heroku ingresando una tarjeta de crédito aunque no vayan a cobrar por esta versión.</p>

            <p>Ahora hay que modificar ciertos archivos del proyecto.</p>
            <p>Se modifica en archivo config.yml</p>
            <pre><code class="language-yml line-numbers">
imports:
    - { resource: security.yml }
    - { resource: services.yml }
    #- { resource: parameters.yml }            
            </pre></code>

            <p>Se comenta esta línea porque se utilizará un archivo diferente para los parámetros locales y los parámetros en heroku. De esta forma el proyecto puede funcionar localmente y remotamente de forma simultánea.</p>

            <p>Ahora en el archivo config_dev.yml</p>
            <pre><code class = "language-yml line-numbers">
#importamos el resource eliminado del config.yml
imports:
    - { resource: parameters.yml }
    - { resource: config.yml }

            </pre></code>

            <p>Ahora se crea el archivo parameters para heroku. Creamos un archivo llamado (puede cambiar) parameters.php en la carpeta /proyectoSymfony/config/</p>

            <pre><code class="language-php line-numers">
php
    $db = parse_url(getenv('CLEARDB_DATABASE_URL'));

    $container->setParameter('database_driver', 'pdo_mysql');
    $container->setParameter('database_host', $db['host']);
    $container->setParameter('database_port', $db['port']);
    $container->setParameter('database_name', substr($db["path"], 1));
    $container->setParameter('database_user', $db['user']);
    $container->setParameter('database_password', $db['pass']);
    $container->setParameter('secret', getenv('SECRET'));
    $container->setParameter('locale', 'es');
    $container->setParameter('mailer_transport', null);
    $container->setParameter('mailer_host', null);
    $container->setParameter('mailer_user', null);
    $container->setParameter('mailer_password', null);

            </pre></code>

            <p>Si utilizan Swift Mailer o algún otro servicio de Mailer aquí se puede configurar el servicio, al igual que el idioma predeterminado.</p>

            <p>Ahora importamos este archivo en config_prod.yml</p>
            <pre><code class="language-yml line-numbers">
imports:
    - { resource: parameters_production.php }
    - { resource: config.yml }

            </pre></code>

            <p>Por último se actualiza el repositorio</p>
             <pre><code class="language-html line-numbers">

$ git add .
$ git commit -m "Agregar base de datos"
$ git push heroku master
            </pre></code>

            <p>Finalmente se actualiza la base de datos. </p>

            <pre><code class="language-html">
$ heroku run php app/console doctrine:schema:update --force
            </pre></code>

            <p>Un problema que tuve por utilizar el UserBundle de FriendOfSymfony es que tuve que instalar una extensión en heroku para que funcionara el Bundle</p>

            <p>Para hacer esto es necesario agregar:  "ext-mbstring": "*", al composer.json y después composer update o composer install .</p>


             <h1>Referencias</h1>
              <p><a href="http://symfony.com/doc/current/cookbook/deployment/heroku.html">Symfony Docs</a></p>
              <p><a href="https://devcenter.heroku.com/articles/getting-started-with-symfony2">Heroku Docs</a></p>
              <p>&nbsp;</p>
                
              </div>
            </div>
        </div>
    </article>
    {% include 'default/footer.html.twig' %}


    <hr>
{% endblock %}